/* Goggle Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
   background: #04080f;
   scroll-behavior: smooth;
   color: white;
}

.btn-primary {
    padding: 0.5rem 1rem;
    background: darkblue;
    color: white;
}